<%- include('../partials/header') %>

<h2>Flights List</h2>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departs</th>
      <th>Details</th>
      <th>Delete Flight?</th>
    </tr>
  </thead>
  <tbody>
      <% flights.forEach(function(f) { %>
    <tr>
        <td><%= f.airline %></td>
        <td><%= f.airport %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.departs.toLocaleString() %></td>
        <td><a class="detail-link" href="/flights/<%= f._id %>">View Details</a></td>
        <td><button type="submit">X</button></td>
    <% }) %>
  </tbody>
</table>

<ul>
  <% flights.forEach(function(f) { %>
    <li>
      <form action="/flights/<%= f.id %>?_method=DELETE"
        class="delete-form" method="POST">
       
      </form>
    </li>
    <% }); %>
</ul>
<%- include('../partials/footer') %>