<%- include('../partials/header')%>

<section id="show-page">
<h2><%= title %></h2><br>

<div>Airline: <%= flight.airline %></div><br>
<div>Flight Number: <%= flight.flightNo %></div><br>
<div>Departure Airport: <%= flight.airport %></div><br>
<div>Departure Time: <%= flight.departs %></div><br>
</section><br>

<form id="add-destinations-form" action="/flights/<%= flight._id %>/destinations" method="POST">
<label>Arrival Destination:</label><br>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
<br>
<label>Arrival Date/Time:
    <input type="daytime-local" name="arrival" required>
</label><br>
<button type="submit" value="Add Destination">Add Destination</button>
</form>

<h2>Destinations</h2>

<ul>
  <% flight.destinations.forEach(destination => { %>
    <li><%= destination.airport %> - <%= destination.arrival %></li>
  <% }) %>
</ul>
<%- include('../partials/footer')%>
